<div class="home-container">
  <div class="home__header">
    <div class="home__header__left">
      <img src="assets/fb-head.jpg" alt="logo" mat-card-avatar>
      <div class="input">
        <mat-icon class="search-icon" aria-hidden="false">search_outline</mat-icon>
        <form>
          <input type="text" placeholder="Search Facebook">
        </form>
      </div>
    </div>

    <div class="home__header__middle">
      <div class="active">
        <mat-icon class="mat-18">home</mat-icon>
      </div>

      <div>
        <mat-icon class="mat-18">ondemand_video</mat-icon>
      </div>

      <div>
        <mat-icon class="mat-18">store</mat-icon>
      </div>

      <div>
        <mat-icon class="mat-18">group</mat-icon>
      </div>

      <div>
        <mat-icon class="mat-18">flag</mat-icon>
      </div>
    </div>

    <div class="home__header__right">
      <div>
        <img src="" alt="avatar" mat-card-avatar>
        <span class="name"> MY NAME</span>
      </div>

      <div>
        <mat-icon class="mat-18">add</mat-icon>
      </div>

      <div>
        <mat-icon
          class="mat-18"
          matBadge="4"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          matBadgePosition="above after"
        >forum</mat-icon>
      </div>

      <div>
        <mat-icon
          class="mat-18"
          matBadge="3"
          matBadgeColor="warn"
          matBadgeOverlap="false"
          matBadgePosition="above after"
        >notifications</mat-icon>
      </div>

    </div>

    <mat-icon [matMenuTriggerFor]="menu" class="mat-18">expand_more</mat-icon>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="mat-18">exit_to_app</mat-icon> LogOut
      </button>
    </mat-menu>
  </div>

<!--  Ends Header-->

  <div class="home__body">

    <div class="home__body__sidebarLeft">
      <div class="inside">
        <div class="user-avatar">
          <img
            alt="youness-dominique"
            mat-card-avatar
            src="https://media-exp2.licdn.com/dms/image/C5603AQFnnRyqLb8QYw/profile-displayphoto-shrink_800_800/0/1649679897237?e=1661385600&v=beta&t=9UoP2U58ABpVngaq8s50SaJGIx1ipSReVX3GIsU5vN0">
          <span class="name">NAME HERE</span>
        </div>
        <div>
          <mat-icon> local_hospital</mat-icon>
          <span class="covid">COVID-19 Information Center</span>
        </div>

        <div>
          <mat-icon>flag</mat-icon>
          <span>Pages</span>
        </div>

        <div>
          <mat-icon>people</mat-icon>
          <span>Friends</span>
        </div>

        <div>
          <mat-icon> chat</mat-icon>
          <span>Messenger</span>
        </div>

        <div>
          <mat-icon>store</mat-icon>
          <span>Marketplace</span>
        </div>

        <div>
          <mat-icon>video_library</mat-icon>
          <span>Videos</span>
        </div>

        <div>
          <mat-icon class="see-more">expand_more</mat-icon>
          <span>See More</span>
        </div>

      </div>
    </div>

    <div class="home__body__contentMiddle">

      <div class="home__body__contentMiddle__top">
        <!--IMAGE CARDS-->
        <mat-card *ngFor="let i of images" class="image-card">
          <img alt="bg"
               class="bg" src="{{ i }}">
          <mat-card-content>
            <img
              alt="avatar"
              class="avatar"
              src="https://media-exp2.licdn.com/dms/image/C5603AQFnnRyqLb8QYw/profile-displayphoto-shrink_800_800/0/1649679897237?e=1661385600&v=beta&t=9UoP2U58ABpVngaq8s50SaJGIx1ipSReVX3GIsU5vN0">
            <span class="card-name">Dominique Youness</span>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="home__body__contentMiddle__center">
        <mat-card class="post-message">
          <mat-card-header class="post-message-header"
                           style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
            <img
              alt=""
              mat-card-avatar
              [src]="">
            <form #form="ngForm" (ngSubmit)="postMessage(form)">
              <input class="on-your-mind" name="message" ngModel placeholder="What's on your mind?" type="text">
              <button style="display: none;" type="submit"></button>
            </form>

          </mat-card-header>
          <mat-card-content class="card-body">
            <div>
              <mat-icon color="accent">videocam</mat-icon>
              <span>Live Video</span>
            </div>

            <div>
              <mat-icon color="primary">photo_album</mat-icon>
              <span>Photo/Video</span>
            </div>

            <div>
              <mat-icon color="warn">mood</mat-icon>
              <span>Feeling/Activity</span>
            </div>
          </mat-card-content>
        </mat-card>

        <!--Loop Through All Posts From Database and Display-->
<!--        <mat-card *ngFor="let p of posts" class="posts">-->
<!--          <mat-card-header class="posts__header">-->
<!--            <img alt="{{ p?.title }}" mat-card-avatar [src]="p?.avatar">-->
<!--            <div class="posts__header__right">-->
<!--              <span>{{ p?.time?.seconds * 1000 | date:'shortTime' }}</span>-->
<!--              <h3>{{ p?.title }}</h3>-->
<!--            </div>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content class="posts__body">-->
<!--            <p>{{ p?.message }}</p>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->


      </div>


    </div>

    <div class="home__body__feedRight">
      <div class="inside">
        <img src="assets/feed.jpg" alt="feed">
      </div>
    </div>
  </div>
</div>
