<div class="login-container">

  <header class="login__header">
    <div class="login__header__left">
      <img src="assets/fb-logo-1.jpg" alt="logo">
      <h2>Facebook helps you connect and share with the people in your life.</h2>
    </div>

    <div class="login__header__right">
      <mat-card class="login__header__right__card">
        <mat-card-content class="login__header__right__card__content">
          <form #form="ngForm" class="login-form" (ngSubmit)="login(form)">
            <input type="text" name="email" ngModel placeholder="Email address or phone number" required>
            <input type="password" name="password" ngModel placeholder="Password" required>

            <button type="submit"
                    class="login-button"
                    [disabled]="form.invalid || form.pending"
            >
              Sign In
            </button>
          </form>
          <a href="#">Forgotten account?</a>

          <button class="create-account" (click)="openRegister()">Create New Account</button>
        </mat-card-content>
      </mat-card>

      <p class="tagline">Create a Page for a celebrity, brand or business.</p>
    </div>
  </header>

  <footer>
    <img src="assets/footer_crop.jpg" alt="footer">
  </footer>
</div>
